*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    background-color: rgb(138, 138, 138);
}

body{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container span{

    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.vermelho{
    background-color: rgba(255, 0, 0, 0.63);
}

.amarelo{
    background-color: rgba(255, 255, 0, 0.589);
}

.verde{
    background-color: rgba(0, 128, 0, 0.664);
}

.container{
    margin: 5px 0;
    background-color: rgb(255, 187, 249);
    padding: 5px;
    border-radius: 5%;
    width: 159px;
}
.container span + span{
    margin: 15px 0;
}

.vermelho-ativo{
background-color: red;
box-shadow: 0 0 15px 3px red;
}

.amarelo-ativo{
background-color: #ffff00;
box-shadow: 0 0 15px 3px #ffff00;
}
.verde-ativo{
background-color: #76FF03;
box-shadow: 0 0 15px 3px #76FF03;
}